body{
  font-family: sans-serif;
  background:#f7f7f7;
  margin: 0;
}

/* ===== ナビ ===== */
.nav{
  background:#f5f7fa;
  border-bottom:1px solid #ddd;
}
.nav ul{
  display:flex;
  gap:30px;
  list-style:none;
  justify-content:center;
  align-items:center;
  margin:0;
  padding:15px 0;
}
.nav a{
  font-size:16px;
  text-decoration:none;
  color:#4a6c86;
  font-weight:bold;
  padding:6px 15px;
  border-radius:20px;
}
.nav a:hover{
  background:#e9eef5;
}

/* ===== タイトル ===== */
.page-title{
  text-align: center;
  font-size: 32px;
  font-weight:bold;
  margin:30px 0 20px;
  letter-spacing:2px;
  color: #eff0f3;
  background-color: #0881de;
  padding: 12px 0;
}

/* ===== フォーム ===== */
.form{
  max-width:800px;
  margin:40px auto;
  background:#fff;
  padding:30px;
  border-radius:8px;
}

/* ===== アップロード ===== */
.upload-area{
  margin-bottom:30px;
}
.upload-box{
  border:2px dashed #ccc;
  height:260px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  background:#fafafa;
  border-radius:8px;
}
.upload-btn{
  border:2px dashed #5aa7e0;   /* 点線ボタン */
  color:#5aa7e0;
  padding:12px 28px;
  border-radius:6px;
  font-size:16px;
  background:#fff;
}

/* ===== 入力欄 ===== */
.field{
  margin-bottom:20px;
}
.field label{
  display:block;
  margin-bottom:6px;
  font-weight:600;
}
.field input{
  width:100%;
  padding:8px;
  height:30px;
  border:1px solid #ccc;
  border-radius:6px;
}
.field textarea{
  width:100%;
  padding:8px;
  height:140px;     /* 商品説明だけ広め */
  border:1px solid #ccc;
  border-radius:6px;
  resize: vertical; /* 縦だけ伸ばせる */
}

/* ===== 登録ボタン ===== */
.submit-btn{
  padding:10px 30px;
  display:block;
  margin:30px auto;
  font-size:17px;
  border:1px solid #888;
  border-radius:6px;
  background:#f2f2f2;
  cursor:pointer;
}
.submit-btn:hover{
  background:#e6e6e6;
}

/* ===== フッター ===== */
footer{
  margin-top:40px;
  padding:15px 10px;
  text-align:center;
  border-top:1px solid #ccc;
  background:#0510e7;
  color: #f5f5f5;
}
