nav ul{
	list-style:none;
    display: flex; /* 真ん中*/
    justify-content:center;
    gap:20px; /*間隔*/
}
nav{
    border-bottom: 2px solid #ccc;
}
nav a{
    font-size:20px;   /* 文字の大きさ*/
    padding:12px 20px;/* クリック領域 */
    display:block;    /* 面積化 */
}
body{
    margin: 0;
    font-family: sans-serif;
}
.page-title{
    text-align: center;
    font-size: 32px;
    font-weight:bold; /*太字*/
    margin:30px 0 20px;
    letter-spacing:2px;  /* 文字間隔 */
    color: #eff0f3;
    background-color: #c80404;
}

/*ページング*/
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.pagination a{
    padding: 6px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    background: white;
}

.pagination a:hover{
    background: #eee;
}

/*商品一覧*/
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*利用可能な横幅を3等分する*/
    gap: 20px;
    padding: 20px;
}

.product{
    border: 1px solid #ddd;
    padding: 10px;
}

.product img{
    width: 100%;
    height: auto;
}

.product-name{
    font-size: 18px;
    margin: 5px 0;
}

.price{
    color: #e60000;
    font-weight: bold;
}

.description{
    font-size: 14px;
    color: #555;
}
/*ページ番号ボタン*/
.page{
    width: 40px;
    height: 40px;
    border: 2px solid #11fb6b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #160701;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.2s;
}

.page:hover{
    background-color: #11fb6b;
    color: #fff;
}

.page.active{
    background-color: #11fb6b;
    color: #fff;
}
footer{
    margin-top:40px;
    padding:15px 10px;
    text-align:center;
    border-top:1px solid #ccc;
    background:#0510e7;
    color: #f5f5f5;
}
